.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.titleWrapper {
  flex-wrap: nowrap;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}