.wrapper {
  display: flex;
  justify-content: center;
  align-self: stretch;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}


.video {
  flex-basis: 40%;
}

.videoInfo {
  flex-basis: 60%;
  min-height: 270px;
  max-height: 400px;
}


.titleWrapper {
  flex-wrap: nowrap;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.linkWrapper {
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column
  }
}

.videoPreview {
  flex-basis: 100%;
}

.videoLink {
  width: 95%;
}